@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    overflow-x: hidden;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
    margin: -1px -1px;
    padding: -1px -1px;
    border: -1px -1px;
    
    
}
th, td {
    padding: 0px;
}

input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    height: 30px;
    border-color: #FFFFFF;
    background: transparent;
    transition: border-color 0.2s;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
}


button {
    margin: 0px;
    font-family: inherit;
  }

.mainHeader {
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    background: #1D2020;
    display: flex;
    align-items: left;
    justify-content: left;
    border-bottom: 10px;
    border-style: solid;
    border-color: #808080;
    position: sticky;
    top: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    
}

nav {
    width: 50vw;
    display: flex;
    top: 0%;
}

.regMargin {
    padding-top: 3vh;
}

.regMarginBot {
    padding-bottom: 5vh;
}

.regOld {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50vw;
    font-family: 'Bungee', cursive;
    font-size: 5vh;
    color: #FFFFFF;
    vertical-align: middle;
    position: relative;
    margin-left: 20vw;
}

.regImage {
    height: 69vh;
    width: 25vw;
    background: url("jane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.regImagePlacebo {
    height: 68vh;
    width: 6vw;
    background: #1D2020;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.logo:hover {
    font-family: 'Aboreto', cursive;
    font-size: 3vh;
    color: white;
    vertical-align: middle;
    position: relative;
    margin-left: 30px;
    top: 0px;
    width: auto;
    height: 10%;
    font-weight: bolder;
}

.logo {
    font-family: 'Aboreto', cursive;
    font-size: 3vh;
    color: #808080;
    vertical-align: middle;
    position: relative;
    margin-left: 30px;
    top: 0px;
    width: auto;
    height: 10%;
    font-weight: bolder;
}

.loginBox {
    font-family: 'Roboto', cursive;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    background: #1D2020;
    box-shadow: 4px 4px 15px #0A0F0D;
    padding-right: 3%;
    width: 100%;

}

.loginTable {
    box-sizing: border-box;
    background-color: #1D2020;
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: inherit;
    
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #808080;
}

a:hover {
    color: #9a9a9a;
}

a:active {
    color: #FFFFFF;
}

.button {
    font-family: 'Poppins', cursive;;
    font-size: 1.5rem;
    border-width: 0;
    border-left-width: 5px;
    color: #808080;
    background: #1D2020;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #FFFFFF;
}

.button:hover {
    font-style: 'Poppins', cursive;;
    font-size: 1.5rem;
    border-width: 0px;
    border-left-width: 5px;
    color: #9a9a9a;
    background: #1D2020;
    text-transform: uppercase;
    font-weight: 700;
}

.button:active {
    font-style: 'Poppins', cursive;;
    font-size: 1.5rem;
    border-width: 0;
    border-left-width: 5px;
    color: #FFFFFF;
    background: #1D2020;
    text-transform: uppercase;
    font-weight: 700;

}

.logout a, button.logout {
    color: red;
    border-color: #f55858;
}

.homeNotification {
    background-color: #9FD356;
    color: #1D2020;
    width: 27vw;
    height: fit-content;
    padding: 0.6vw;
    
}

em {
    font-size: 1.08rem;
}

.sc1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .sc1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .sc1::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
  }
  

.footer {
    height: 16vh;
    background: #1D2020;
    border: 0;
    border-top: 20px;
    border-style: solid;
    border-color: #808080;
}


.name {
    font-family: 'Poppins';
    font-size: 3rem;
}

.phno {
    font-family: 'Poppins';
    font-size: 1.25rem;
}

.email {
    font-family: 'Poppins';
    font-size: 1.25rem;
}

.address {
    font-family: 'Poppins';
    font-size: 1rem;
}